@import "bootstrap/bootstrap";
@import "bootstrap/variables";

$font-primary: "Inter", sans-serif;
$font-size-base: 17px;

$white: #fff;
$black: #000000;
$darken: #232931;

$primary: rgb(95 171 247);
$primary-overlay: rgba(95, 171, 247, 0.5);
$primary-light: rgb(149 162 175);
$background: rgb(36 69 102);
$background-dark: rgb(7 15 22);
$primary-linear-background: linear-gradient(
  90deg,
  rgba(251, 179, 63, 1) 0%,
  rgba(252, 247, 70, 1) 100%
);

$secondary: #08fdd8;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}

html {
  overflow-x: hidden;
}
body {
  font-family: $font-primary;

  font-size: $font-size-base;
  line-height: 1.8;
  font-weight: 400;
  color: lighten($black, 60%);
  background: url("") no-repeat center $background-dark;
  &.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}
a {
  transition: 0.3s all ease;
  color: $primary;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary;
    outline: none !important;
  }
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  margin-bottom: 1rem;
  color: $white;
  font-weight: 400;
}
p{
  color: $primary-light;
}
.bi {
  margin: 0.25rem;
  font-size: 2.5rem;
}
.hightlight {
  color: $primary;
}
.blur {
  box-shadow: inset 0 0 2px #fefefed1;
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0, 0%, 100%, 0.8) !important;
}

// LAYOUT
main {
  @include media-breakpoint-up(md) {
    padding: 0px 150px;
  }
  @include media-breakpoint-up(sm) {
    padding: 0 70px;
  }
  @include media-breakpoint-down(sm) {
    padding: 0px;
  }
}
.left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: $background;
  @include media-breakpoint-down(md) {
    left: 10px;
  }
  
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: $background;
  }
  .social {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    i {
      font-size: 1.5rem;
    }
  }
  @include media-breakpoint-down(sm) {
    display: none;
    // width: 100%;
    // box-shadow: transparent;
    // -webkit-backdrop-filter: saturate(200%) blur(30px);
    // backdrop-filter: saturate(200%) blur(30px);
    // background-color: transparent;
    // .social {
    //   display: flex;
    //   flex-direction: row !important;
    // }
    // &::after {
    //   display: none !important;
    // }
  }
}
.right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  left: auto;
  z-index: 10;
  color: $background;
  @include media-breakpoint-down(md) {
    right: 10px;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: $background;
  }
  .email {
    margin: 20px auto;
    padding: 10px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
  .email a {
    text-decoration: none;
  }
}
.section {
  padding: 7em 0;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    padding: 6em 0;
  }
}

// NAV BAR
.navbar-brand {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}
.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  // padding-top: 30px;
  @include media-breakpoint-down(md) {
    background: $black !important;
    position: absolute;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
    @include media-breakpoint-up(lg) {
    }
  }

  .navbar-brand {
    color: $white;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    &:hover,
    &:focus {
      color: $white !important;
    }
    @include media-breakpoint-down(md) {
      color: $white;
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(md) {
      padding-bottom: 20px;
      // margin-left: 20px !important;
      margin-right: 0;
    }
    > .nav-item {
      > .nav-link {
        font-size: 16px;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        padding-left: 20px;
        padding-right: 20px;
        color: $white;
        font-weight: 400;
        opacity: 1 !important;
        span {
          position: relative;
          display: block;
          padding-bottom: 2px;
          @include media-breakpoint-down(lg) {
            display: inline-block;
          }
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background: $primary;
            visibility: visible;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
        }
        &:hover {
          span {
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
        @include media-breakpoint-down(md) {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 1rem;
          padding-top: 0;
          color: $white;
        }
      }

      &.cta {
        > a {
          color: $white;
          border: 1px solid $primary;
          padding-top: 0.7rem;
          padding-bottom: 0.7rem;
          padding-left: 18px;
          padding-right: 18px;
          background: $primary;
          margin-top: 0;
          @include border-radius(5px);
          span {
            display: inline-block;
            color: $white;
          }
          &:hover {
            background: $primary;
            border: 1px solid $primary;
          }
        }
        &.cta-colored {
          a {
            border: 1px solid $secondary;
            background: $secondary !important;
          }
        }
      }

      .nav-link {
        &.active {
          background: transparent;
          background: none;
          color: $primary;
          span {
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
      }

      @include media-breakpoint-down(md) {
        &.active {
          > a {
            color: $primary;
          }
        }
      }
    }
  }
  .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $primary;
      outline: none !important;
    }
  }

  &.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: $black !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0 15px;
    .nav-item {
      > .nav-link {
        color: $white !important;
        @include media-breakpoint-down(md) {
          padding-left: 0 !important;
          padding-right: 0 !important;
          padding-bottom: 20px !important;
        }
      }
      &.active {
        > a {
          color: $primary !important;
        }
      }
      &.cta {
        > a {
          color: $white !important;
          background: $primary;
          border: none !important;
          padding-top: 0.5rem !important;
          padding-bottom: 0.5rem !important;
          padding-left: 20px !important;
          padding-right: 20px !important;
          margin-top: 5px !important;
          @include border-radius(5px);
          span {
            display: inline-block;
            color: $white !important;
          }
        }
        &.cta-colored {
          span {
            border-color: $primary;
          }
        }
      }
    }

    .navbar-nav {
      @include media-breakpoint-down(md) {
        background: none;
        border-radius: 0px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
      }
    }

    .navbar-toggler {
      border: none;
      color: rgba(255, 255, 255, 0.5) !important;
      border-color: rgba(0, 0, 0, 0.5) !important;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 0.1em;
    }
    .nav-link {
      color: $black !important;
      &.active {
        color: $primary !important;
      }
    }
    &.awake {
      margin-top: 0px;
      transition: 0.3s all ease-out;
    }
    &.sleep {
      transition: 0.3s all ease-out;
    }

    .navbar-brand {
      color: $white;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 24px;
    }
  }
}

// HERO
.hero {
  position: relative;
  height: 100vh;
  z-index: 0;

  overflow: hidden;
  .home-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: relative;
    z-index: 0;
    overflow: hidden;
    @include media-breakpoint-down(lg) {
      background-position: center center !important;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $black;
      opacity: 0;
    }
    .home-text {
      height: 100vh;
      z-index: 0;

      .one-third {
        width: 60%;
        height: 100%;
        opacity: 0.5;
        background-image: url("");
        display: flex;
        justify-content: center;
        align-items: center;
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: $black;
          opacity: 0;
        }
        @include media-breakpoint-down(md) {
          width: 85%;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
          z-index: 0;
          align-items: flex-end;
          -webkit-align-items: flex-end;

          .overlay {
            opacity: 0.8;
          }
          &:after {
            opacity: 0;
          }
        }
      }
      .one-forth {
        width: 50%;
        position: relative;
        @include media-breakpoint-up(md) {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 1200px;
          margin: 0 auto;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          padding: 1em;
        }
        .text {
          width: 100%;
          overflow: hidden;
          @include media-breakpoint-up(lg) {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            right: 0;
            // width: 1200px;
            max-width: 50%;
            padding-left: 45px;
            padding-right: 3em;
          }
        }
      }
      .subheading {
        color: $primary-light;
        font-weight: 400;
        font-size: clamp(15px, 5vw, 18px);
        //font-family: 'Ubuntu Mono', monospace;
        letter-spacing: 3px;
        position: relative;
      }
      .text {
        position: relative;
        z-index: 1;
      }

      h1.wavity .wavity-item {
        position: relative;
        margin-right: -4px;
        display: inline-block;
        font-size: 50px;
        line-height: 1.2;
        font-weight: 700;
        color: $primary;
        letter-spacing: -5px;
        animation: flip 5s infinite;
        animation-delay: calc(0.2s * var(--i));

        @include media-breakpoint-down(sm) {
          font-size: 40px !important;
        }
      }
      p {
        color: $primary-light;
        font-family: 'Ubuntu Mono', monospace;
      }
      .btn-custom {
        border: 1px solid $primary;
        padding: 5px 20px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 3px;
      }
      .job {
        //font-family: "Ubuntu Mono", monospace;
        color: $primary-light;
        font-weight: 700;
      }
    }
  }
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
@keyframes left_to_right {
  0% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: url("https://i.postimg.cc/YqcvK11W/wave.png");
  background-size: 1000px 150px;
  z-index: 2;

  &.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
    margin-bottom: -5px;
  }
  &.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  &.wave3 {
    animation: animate3 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: 2s;
    bottom: 15px;
  }
  &.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 10px;
  }
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

// BUTTON
.btn,
button {
  cursor: pointer;
  @include border-radius(40px);
  // box-shadow: none!important;
  -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: $font-size-base;
  text-transform: uppercase;
  letter-spacing: 2px;
  //font-weight: 600;
  &:hover,
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  &.btn-primary {
    background: $primary-linear-background;
    border: 1px solid $primary !important;
    color: $black !important;
    &:hover {
      //border: 1px solid $primary !important;
      background: $primary;
      //color: $black !important;
    }
    &.btn-outline-primary {
      border: 2px solid $primary !important;
      background: transparent !important;
      color: $primary !important;
      &:hover {
        border: 2px solid transparent !important;
        background: $primary !important;
        color: $white !important;
      }
    }
  }
  &.btn-secondary {
    background: $secondary !important;
    border: 1px solid $secondary !important;
    color: $white !important;
    &:hover {
      border: 1px solid $secondary !important;
      background: transparent !important;
      color: $secondary !important;
    }
    &.btn-outline-primary {
      border: 1px solid $secondary;
      background: transparent;
      color: $secondary;
      &:hover {
        border: 1px solid transparent;
        background: $secondary;
        color: $white;
      }
    }
  }
  &.btn-white {
    background: $white !important;
    border: 1px solid $white !important;
    color: $black !important;
    &:hover {
      border: 1px solid $black;
      background: $white !important;
      color: $white;
    }
    &.btn-outline-white {
      border: 1px solid rgba(255, 255, 255, 0.5) !important;
      background: transparent !important;
      color: $white !important;
      &:hover {
        border: 1px solid transparent;
        background: $primary;
        color: $white;
      }
    }
  }
  &.btn-point {
    //padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    //margin: 5px;
    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    span:after {
      content: "\F285";
      font-family: "bootstrap-icons";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    &:hover span {
      padding-right: 25px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }
  }
  &.button {
    display: inline-block;
    color: $black;
    background: $primary;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary;
      @include border-radius(40px);
      z-index: -2;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($primary, 15%);
      transition: all 0.3s;
      @include border-radius(40px);
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
}

// ABOUT
.about {
  ul.skills-list {
    display: flex;
    //grid-template-columns: repeat(3, minmax(140px, 200px));
    gap: 0.5rem;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: start;
    overflow: hidden;
    list-style: none;
    font-size: small;

    @include media-breakpoint-down(md) {
      //grid-template-columns: repeat(2, minmax(140px, 200px));
    }

    li {
      padding: 5px 1rem;
      border-radius: $border-radius-pill;
      background-color: $background;
      //margin-bottom: 5px;
      text-align: center;
    }
    // li::before {
    //   content: "▹";
    //   //position: absolute;
    //   left: 0px;
    //   margin-right: 10px;
    //   color: $primary;
    //   line-height: 12px;
    //   font-size: medium;
    //   vertical-align: middle;
    // }
  }
  .description {
    color: $primary-light;
    padding: 0px 1rem;
    h3 {
      color: $primary;
    }
  }
  img {
    width: 100%;
    object-fit: contain;
    max-height: 400px;
  }
}

// WORK
.work {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  .work-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0 10px;
  }
  ul li {
    display: flex;
    .indicator::before {
      content: "▹";
      //position: absolute;
      left: 0px;
      margin-right: 10px;
      color: $primary;
      line-height: 12px;
      font-size: medium;
      vertical-align: middle;
    }
  }
  .accordion {
    max-width: 700px;
    width: 100%;
    position: relative;
    &::before {
      content: " ";
      background: $background;
      display: inline-block;
      position: absolute;
      left: 0px;
      width: 1px;
      top: 20px;
      height: 100%;
      z-index: 400;
    }
  }
  .accordion-item {
    background-color: transparent;
    &::before {
      content: " ";
      background: $background;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 2px solid $background;
      left: -7px;
      width: 15px;
      height: 15px;
      margin-top: 10px;
      z-index: 400;
    }
  }
  .accordion-button {
    background-color: transparent;
    color: $primary-light;
    text-transform: none !important;

    padding: 0px 2rem;
    .role {
      font-size: $font-size-lg;
      font-weight: bold;
    }
    .duration {
      font-size: $font-size-sm;
    }
    &::after {
      color: $primary-light;
      position: absolute;
      right: 0px;
    }
  }
  .accordion-body p {
    margin: 0px;
  }
  // .accordion-button:not(.collapsed) {
  //   color: $primary;
  // }
}

// PROJECTS
.project .project-container {
  gap: 5rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0px;
  list-style: none;
  @include media-breakpoint-down(md) {
    gap: 2rem;
  }
}
.feature-project {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 10px;
  
  @include media-breakpoint-up(lg) {
    padding: 0 10rem;
  }

  @include media-breakpoint-down(lg) {
    padding: 0px !important;
  }

  &:nth-of-type(2n + 1) {
    .project-content {
      grid-column: 7 / -1;
      text-align: right;

      @include media-breakpoint-down(lg) {
        grid-column: 5 / -1;
      }
      @include media-breakpoint-down(md) {
        grid-column: 1 / -1;
        padding: 2rem;
        text-align: left;
        z-index: 2;
      }
    }
    .project-language-list {
      -webkit-box-pack: end;
      justify-content: flex-end;

      @include media-breakpoint-down(md) {
        -webkit-box-pack: start;
        justify-content: flex-start;
      }
    }
    .project-links {
      -webkit-box-pack: end;
      justify-content: flex-end;
      margin-left: 0px;
      margin-right: -10px;

      @include media-breakpoint-down(md) {
        -webkit-box-pack: start;
        justify-content: flex-start;
      }
    }
  }

  .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;

    @include media-breakpoint-down(lg) {
      grid-column: 1 / 9;
    }
    @include media-breakpoint-down(md) {
      grid-column: 1 / -1;
      padding: 2rem;
      text-align: left;
      z-index: 2;
    }

    .project-description {
      box-shadow: 0 10px 30px -15px $darken;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      z-index: 2;
      padding: 25px;
      border-radius: 4px;
      background-color: $background;
      opacity: 1;
      color: $primary-light;

      @include media-breakpoint-down(md) {
        background-color: transparent;
        opacity: 1;
        box-shadow: none;
        padding: 0rem;
        color: $primary-light;
      }
    }
    .project-language-list {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 2;
      margin: 25px 0px 10px;
      gap: 1rem;
      padding: 0px;
      list-style: none;
      font-family: "Ubuntu Mono", monospace;
    }
    .project-links {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      //position: relative;
      margin-top: 10px;
      margin-left: -10px;
      color: $primary;
    }
    .project-links a {
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      gap: 5rem;
      text-decoration: none;
      padding: 0px 10px;
      i {
        font-size: 1.5rem;
      }
    }
  }

  .project-image {
    //box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(md) {
      grid-column: 1 / -1;
      height: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0px;
      z-index: 3;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      background-color: rgb(13 110 253 / 25%);
      mix-blend-mode: screen;

      @include media-breakpoint-down(md) {
        opacity: 0.15;
        //box-shadow: inset 0 0 2px #fefefed1;
        -webkit-backdrop-filter: saturate(200%) blur(20px);
        backdrop-filter: saturate(200%) blur(20px);
        //background-color: hsla(0, 0%, 100%, 0.8) !important;
      }
    }

    .img {
      max-width: 700px;
      display: block;
      // border-radius: var(--border-radius);
      mix-blend-mode: multiply;
      filter: grayscale(100%) contrast(1) brightness(70%);
      width: 100%;
      max-width: 100%;
      transform: translateZ(0);
      transition: opacity 0.25s linear;
      will-change: opacity;

      @include media-breakpoint-down(md) {
        object-fit: cover;
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(50%);
        opacity: 0.1;
      }
    }
    &:hover .img {
      filter: none !important;
    }
    &:hover::before {
      background-color: transparent;
    }
    // &.comming-soon::before {
    //   background-color: transparent;
    // }
    // &.comming-soon {
    //   border: $primary solid 1px;
    // }
  }
  &:nth-of-type(2n + 1) .project-image {
    grid-column: 1 / 8;

    @include media-breakpoint-down(md) {
      grid-column: 1 / -1;
      height: 100%;
      //opacity: 0.25;
    }
  }
}

.image-wrapper {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    //position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
  }
}

// FOOTER
footer {
  font-size: 16px;
  padding: 7em 0 1rem 0 !important;
  z-index: 0;
  p {
    color: rgba($white, 0.7);
  }
  a {
    color: rgba($white, 0.7);
    &:hover {
      color: $white;
    }
  }
  .social {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 0px;
    list-style: none;
    gap: 1rem;
    @include media-breakpoint-up(sm) {
      visibility: hidden;
    }
    i {
      font-size: 1.5rem;
    }
  }
}

// HEADING SECTION
.heading-section {
  position: relative;
  .subheading {
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 3px;
  }
  h1.big {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-family: "Monoton", cursive;

    &.big-2 {
      right: 0;
    }
  }
  h2 {
    font-size: 50px;
    font-weight: 700;
    span {
      font-weight: 400;
    }
    @include media-breakpoint-down(sm) {
      font-size: 38px;
    }
  }
  &.heading-section-white {
    .subheading {
      color: rgba(255, 255, 255, 0.9) !important;
    }
    h2 {
      color: $white;
    }
    p {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

// CONTACT SECTION
.contact {
  .contact-info {
    p {
      color: lighten($black, 50%);
    }
  }
  .box {
    width: 100%;
    display: block;
    @include border-radius(4px);
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
    .icon {
      width: 100px;
      height: 100px;
      background: rgba(255, 255, 255, 0.1);
      margin: 0 auto;
      margin-bottom: 2em;
      //border: $primary solid 1px;
      @include border-radius(50%);
      i {
        color: $primary;
        font-size: 30px;
      }
      &:hover {
        background: $primary-overlay;
      }
    }
    h3 {
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .contact-value {
      font-family: "Ubuntu Mono", monospace;
      font-size: $font-size-base;
    }
  }
  h3 {
    background: linear-gradient(
      271deg,
      #a0e9ff 30%,
      #a162e8 50%,
      #f093b0 70%,
      #edca85 94%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
}

// typewritter
.blinker {
  position: relative;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}
.anim-typewriter {
  -webkit-animation: blinkTextCursor 1000ms steps(44) infinite normal;
  animation: blinkTextCursor 1000ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 5rem;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: $primary;
  }
  to {
    border-right-color: transparent;
  }
}

.animate {
  -webkit-animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -moz-animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(30vh);
  } /* WORK ON THISSS! */
  /* 	0% {transform: translateY(100%);} */
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* ------ Delays ------ */
.delay02 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.delay04 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.delay06 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.delay08 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.delay10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay12 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/*===== Flip hover =====*/
.card-flip {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  perspective: 1000px;

  .card-img,
  .card-img-top,
  .card-img-bottom,
  .card-body {
    position: static;
    height: 100%;
    object-fit: contain;
  }
  .card-flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    //transform: rotateY(180deg);
  }
  .card-flip-front,
  .card-flip-back {
    //@include border-radius($card-border-radius);
    backface-visibility: hidden;
    overflow: hidden;
  }
  .card-flip-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    // border: $card-border-width solid $card-active-border-color;
    // background-color: $card-bg;
    color: inherit;
    text-decoration: none;
    //@include box-shadow($card-active-box-shadow);
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  &:hover .card-flip-inner {
    transform: rotateY(180deg);
  }
}

// SPINNER
.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  .box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .blue-orbit {
    width: 165px;
    height: 165px;
    border: 1px solid #91daffa5;
    -webkit-animation: spin3D 3s linear 0.2s infinite;
  }

  .green-orbit {
    width: 120px;
    height: 120px;
    border: 1px solid #91ffbfa5;
    -webkit-animation: spin3D 2s linear 0s infinite;
  }

  .red-orbit {
    width: 90px;
    height: 90px;
    border: 1px solid #ffca91a5;
    -webkit-animation: spin3D 1s linear 0s infinite;
  }

  .white-orbit {
    width: 60px;
    height: 60px;
    border: 2px solid #ffffff;
    -webkit-animation: spin3D 10s linear 0s infinite;
  }

  .w1 {
    transform: rotate3D(1, 1, 1, 90deg);
  }

  .w2 {
    transform: rotate3D(1, 2, 0.5, 90deg);
  }

  .w3 {
    transform: rotate3D(0.5, 1, 2, 90deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}

////
