@import "../../../variables.scss";

section {
  @media (max-width: 575.98px) {
    padding: 2rem;
  }
}

.moving-card-wrapper {
  position: relative;
  display: block;
  height: 20vh;
}

.moving-card {
  position: absolute;
  left: 0;
  top: 0;
  width: 20vh;
  height: 20vh;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    transform: scale(0.8);
    i {
      color: $primary;
      transform: scale(1.2);
    }
  }
}

i {
  font-size: 5vh;
  color: $secondary;
  transition: transform 0.5s;
}
