<section class="h-100 d-flex flex-column justify-content-center">
    <div class="moving-card-wrapper">
        <div class="moving-card bg-info d-flex align-items-center" (click)="github.click()" moveOnScroll [direction]="'top'" [range]="20">
            <i class="bi bi-github mx-auto"></i>
            <a href="https://github.com/khinemyaezin" style="visibility: hidden;" #github></a>
        </div>
        <div class="moving-card bg-info d-flex align-items-center" (click)="maillink.click()" moveOnScroll [direction]="'right'" [range]="20">
            <i class="bi bi-envelope mx-auto"></i>
            <a href="mailto:hello@khinemyaezin.com" style="visibility: hidden;" #maillink></a>
        </div>
        <div class="moving-card bg-info d-flex align-items-center" (click)="linkedin.click()" moveOnScroll [direction]="'bottom'" [range]="20">
            <i class="bi bi-linkedin mx-auto"></i>
            <a href="https://www.linkedin.com/in/khinemyaezin" style="visibility: hidden;" #linkedin></a>
        </div>
    </div>
</section>