<section id="discover" intersection>
    <div class="discover__container" #container>
        <div class="text__group d-flex flex-column gap-3 mb-3">
            <h3 class="mb-3">Available for <br>job opportunities
            </h3>
            <p>Have an exciting project you need help with?<br>
                Send me an email or contact me via instant message!</p>
        </div>

        <p class="text__left" #leftText>
             <a class="chonky-underline-violet has-hover-anim" href="mailto:{{contact}}">{{contact}}</a>
            </p>
        <p class="text__right" #rightText>
            <a class="" [href]="linledin">LinkedIn</a>
        </p>
    </div>
</section>