<div class="h-100 p-lg-0 p-2" >
    <div class="d-flex flex-column gap-2 h-100 justify-content-center">
        <div class="item">
            <div class="item-card">
                <div class="animated-container" style="transition-delay: 0.3s;">
                    <div class="d-flex ">
                        <img class="avatar" src="hi.png" alt="">
                        <p class="align-self-center m-0 ms-4 p-4 blur bg-secondary h-100 rounded text-secondary"
                            style="--bs-bg-opacity: .05;">
                            Hi, I am <strong class="text-primary">Khine</strong> from Burma.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-card ">
                <div class="animated-container" style="transition-delay: 0.4s;">
                    <div class="pt-4 d-flex flex-column text-secondary">
                        <p class="align-self-center w-100">
                            Back in <strong>2013</strong>, I accidentally try my hand at building an HTML block inspired
                            by my sister's
                            final
                            year project, and I tumbled headfirst into the rabbit hole of coding.
                            <br>
                        </p>
                        <p class="">
                            Fast forward to recently,
                            and I’ve had the privilege of building custom software for a finance company.
                            Currently, I'm focusing on <strong class="text-primary">Web development</strong>.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="item">
            <div class="item-card">
                <div class="animated-container" style="transition-delay: 0.5s;">

                    <div class="py-4 d-flex flex-column text-secondary">
                        <p class="align-self-center m-0 text-start w-100">
                            When I’m not at the computer, I’m usually drawing, hanging out with my friends chilling at
                            the park.
                        </p>
                        <!-- <div class="w-100 position-relative d-block">
                            <a class="icon-link icon-link-hover" href="#">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>