<div class="position-relative h-100 w-100 d-flex flex-column justify-content-center" interception>
    <h1 class="title-explore text-black w-100 text-end mb-3">explore</h1>
    <div class="gap-2 bars" bars>
        <ng-container *ngFor="let e of experiences">
            <div class="bar" bar>
                <div class="animated-container {{e.background}} ">
                    <div class="menu-text" titleMenuBox>
                        <div class="menu-text-wrapper">
                            <div class="ps-1 pe-5 position-relative">
                                <span class="side-text">Learn</span>
                            </div>
                            <div class="text-center ms-2 pt-5">
                                <p class="title">{{e.title}}</p>
                            </div>

                        </div>
                        <div class="text-end overflow-hidden pe-2">
                            <a class="icon-link icon-link-hover link-primary link-offset-2 link-underline-opacity-0" [href]="e.href">
                                Learn
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>

                <img *ngIf="e?.backgroundImage" [src]="e.backgroundImage"
                    class="object-fit-cover image position-absolute start-0 bottom-0 w-100 animated-container" alt="">
            </div>
        </ng-container>
    </div>

</div>