@import "../../scss/theme.scss";

section {
  overflow: hidden;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;

}

.text__header__left {
  font-family: $font-title;
  font-size: clamp(2rem, 15cqi, 20rem);
  text-wrap: nowrap;
  margin-top: 1rem;
}
