@import "../../../variables.scss";
@import "../../../../node_modules/bootstrap/scss/bootstrap-utilities.scss";

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  height: 100vh; /* Adjust the height as needed */
  width: 93vw; /* Adjust the width as needed */

  @media (max-width: 575.98px)  {
    grid-template-columns: 100vw 100vw;
    width: 100%;
  }
}

.grid-item.hero {
  display: flex;
}

.project-description {
  flex: 1; /* Take up full height of the cell */
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px -15px $dark;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  padding: 25px;
  opacity: 1;
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  backdrop-filter: saturate(200%) blur(30px);
}
