<section class="sticky-element half-height">

    <div class="track">
        <div class="track-flex">
            <div class="panel-wide">
                <img class="image"
                    src="https://assets.website-files.com/6384f0dcd0a815701796cd36/63858ebfcc6c6b9a1b751abd_iron-man-aestheticandroid-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-2muyr-3840x2160.jpg"
                    alt="">
            </div>
            <div class="panel-wide">
                <img class="image"
                    src="https://assets.website-files.com/6384f0dcd0a815701796cd36/63858ad6a391d6a38ca30cba_spider-man-no-way-home.png"
                    alt="">
            </div>
            <div class="panel-wide">
                <img class="image"
                    src="https://assets.website-files.com/6384f0dcd0a815701796cd36/6385f443045ce547a4d0829a_ezgif.com-gif-maker%20(1).jpg"
                    alt="">
            </div>
            <div class="panel-wide">
                <img class="image"
                    src="https://assets.website-files.com/6384f0dcd0a815701796cd36/6385f15ca596aa177d81cea8_the-hulk-scaled.jpeg"
                    alt="">
            </div>
            <div class="panel-wide">
                <img class="image"
                    src="https://assets.website-files.com/6384f0dcd0a815701796cd36/63858ae4d127c32babe6f55f_ezgif.com-gif-maker.jpg"
                    alt="">
            </div>
        </div>
    </div>
</section>