<div class="d-flex w-100 align-items-center ps-5">
    <div class="name-card d-flex flex-column gap-2">
        <!-- <div>
            <span class="name fs-normal" shrinkjump [delay]="0">k</span>
            <span class="name fs-normal" shrinkjump [delay]="500">h</span>
            <span class="name fs-normal" shrinkjump [delay]="1000">i</span>
            <span class="name fs-normal" shrinkjump [delay]="1500">n</span>
            <span class="name fs-normal" shrinkjump [delay]="2000">e</span>
        </div>

        <div class="mb-3">
            <div class="float-start position-relative">
                <h1 class="carrier text-black" drop [delay]="2500" title="&lt;Dev&gt;">
                    Or</h1>
            </div>
            <p class="name float-start fs-normal">Effen</p>
        </div> -->
        <p class="text-wrap d-block text-black sidekid fs-smaller">
            hello there,
        </p>
        <p class="text-wrap d-block text-primary sidekid fs-smaller">
            welcome
        </p>
        <img src="hero.png" alt="">
    </div>
  
</div>