<main main scrollEmitter [speed]="3">
    <div class="scroll__container">
        <section-hero></section-hero>

        <section-door></section-door>
        <section id="about">
            <div class="about__container">
                <div class="about__text">
                    <h4>&#123;&nbsp; BACKEND DEVELOPER&nbsp; &#125;</h4>
                </div>
            </div>
        </section>
        <section-circle [title]="'?'"></section-circle>
        <section-story></section-story>

        <section-circle [title]="'AND'" [theme]="'black'"></section-circle>
        <section-blog></section-blog>
        <section-circle [title]="'PROJECT'" [theme]="'info'"></section-circle>
        <section-project></section-project>
        <section-circle [title]="'CONTACT'" [theme]="'to__black'"></section-circle>
        <section-discover [contact]="'hello@khinemyaezin.com'" [linledin]="'https://www.linkedin.com/in/khinemyaezin'"></section-discover>



        <!-- 
        <section id="end__video">
            <div class="shim"></div>
            <div class="end__video__container">
                <video class="end__video" autoplay muted loop playsinline  src="https://framerusercontent.com/assets/sagu9WJMRc7UvZaZc4N2cUQ68Z4.mp4"></video>
            </div>

        </section>-->

    </div>
</main>