<main main scrollEmitter >
    <div class="scroll__container">
        <section-hero></section-hero>

        <section-door></section-door>
        <section-story></section-story>

        <section-blog></section-blog>
        <section-circle [title]="'PROJECT'" [theme]="'info'"></section-circle>
        <section-project></section-project>
        <section-moving></section-moving>
        <section-discover [contact]="'hello@khinemyaezin.com'" [linledin]="'https://www.linkedin.com/in/khinemyaezin'"></section-discover>

        <!-- 
        <section id="end__video">
            <div class="shim"></div>
            <div class="end__video__container">
                <video class="end__video" autoplay muted loop playsinline  src="https://framerusercontent.com/assets/sagu9WJMRc7UvZaZc4N2cUQ68Z4.mp4"></video>
            </div>

        </section>-->

    </div>
</main>