<section id="about" #section intersection>
    <div class="scroll__sticky ">
        <div class="wrapper py-5">
            <div class="d-flex mb-5">
                <div class="profile-wrapper gradient-bg-base animate" #media>
                    <img src="exp-hero.png" class="profile-img">
                </div>
            </div>
            <div class="content ">
                <p class="align-self-center fade-in" #content>
                    Back in <strong>2013</strong>, I had this wild idea to build an HTML block inspired by my sister’s final year project. And guess what? I totally ended up getting hooked on coding!
                    <br>
                </p>
                <p class="fade-in" #content>
                    Fast forward to now, and I’ve been working on some really cool projects for a finance company. Right now, I’m all about <strong>Web development</strong>.
                </p>
                <p class="align-self-center m-0 text-start w-100 fade-in" #content>
                    When I’m not coding, you can find me either drawing or hanging out with my friends at the park. It’s always a blast!
                </p>
            </div>
        </div>
    </div>
</section>