<section id="about" #section intersection>
    <div class="scroll__sticky ">
        <div class="wrapper py-5">
            <div class="d-flex mb-5">
                <div class="profile-wrapper gradient-bg-base animate" #media>
                    <img [src]="storyData.profileImage" class="profile-img">
                </div>
            </div>
            <div class="content">
                <p *ngFor="let paragraph of storyData.paragraphs" [class]="paragraph.classes" #content [innerHTML]="paragraph.text">
                </p>
            </div>
        </div>
    </div>
</section>