<section id="about">
    <div class="wrapper">
        <div class="profile-wrapper">
            <img src="exp-hero.png" class="profile-img">
        </div>
        <div class="content">
            <h1 class="title">Story</h1>
            <p class="align-self-center">
                Back in <strong>2013</strong>, I accidentally try my hand at building an HTML block inspired
                by my sister's
                final
                year project, and I tumbled headfirst into the rabbit hole of coding.
                <br>
            </p>
            <p class="">
                Fast forward to recently,
                and I’ve had the privilege of building custom software for a finance company.
                Currently, I'm focusing on <strong class="text-primary">Web development</strong>.
            </p>
            <p class="align-self-center m-0 text-start w-100">
                When I’m not at the computer, I’m usually drawing, hanging out with my friends chilling at
                the park.
            </p>
        </div>
    </div>
</section>