<main main scrollEmitter>
    <div class="scroll__container">
        <section-hero></section-hero>
        <section-title [message]="'Lets talk about me,,Im,'"></section-title>
        <section-2></section-2>
        <section-story></section-story>
        <section-exp></section-exp>
        <section-title [message]="'Thats not all,,Lets see,What I can do'"></section-title>
        <section-project></section-project>
        <section-title [message]="'Just drop,,a message,Lets connect'"></section-title>
        <section-discover [contact]="'hello@khinemyaezin.com'" 
        [linledin]="'https://www.linkedin.com/in/khinemyaezin'">
        </section-discover>
        <section-title [message]="'Bye!'"></section-title>
    </div>
</main>