<section id="media" #section intersection>
    <div class="shim"></div>
    <div class="scroll__sticky">
        <div class="media__wrapper gap-3">     
            <div class="text__overlay" #hero>
                <div class="text__header__left" #textHeaderLeft>Khine</div>
                <div class="text__header__right" #textHeaderRight>Myae</div>
            </div>
            <div class="footer__container fade-in" #footer>
                <div class="footer__text text-center">
                    <h4>A Software Engineer &#64;<img src="merlion.svg" alt="Icon" class="footer__icon" /></h4>
                </div>
            </div>
        </div>
    </div>
</section>  