/* Projects  */
@import "../../scss/theme.scss";

#projects {
  position: relative;
  //background-color: $background-color;
}

.projects__sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.slider__container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projects__slider {
  height: 100%;
  display: flex;
  width: min-content;
  overflow: hidden;
  will-change: transform;
  transition: translate 0.2s;
}

.project {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(50%);
}

.start {
  justify-content: flex-start;
}

.mid {
  justify-content: center;
}
.end {
  justify-content: end;
}

.project__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.project__details p {
  font-size: 0.8rem;
}

.project .project-container {
  gap: 5rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0px;
  list-style: none;
  @media (max-width: 767.98px) {
    gap: 1rem;
  }
}

.feature-project {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: 992px) {
    padding: 0 10rem;
  }

  @media (max-width: 991.98px) {
    padding: 0px !important;
  }

  &:nth-of-type(2n + 1) {
    .project-content {
      grid-column: 7 / -1;
      text-align: right;

      @media (max-width: 991.98px) {
        grid-column: 5 / -1;
      }
      @media (max-width: 767.98px) {
        grid-column: 1 / -1;
        padding: 2rem;
        text-align: left;
        z-index: 2;
      }
    }
    .project-language-list {
      -webkit-box-pack: end;
      justify-content: flex-end;

      @media (max-width: 767.98px) {
        -webkit-box-pack: start;
        justify-content: flex-start;
      }
    }
    .project-links {
      -webkit-box-pack: end;
      justify-content: flex-end;
      margin-left: 0px;
      margin-right: -10px;

      @media (max-width: 767.98px) {
        -webkit-box-pack: start;
        justify-content: flex-start;
      }
    }
  }

  .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
    z-index: 2;

    @media (max-width: 991.98px) {
      grid-column: 1 / 9;
    }
    @media (max-width: 767.98px) {
      grid-column: 1 / -1;
      padding: 2rem;
      text-align: left;
      z-index: 2;
    }
    .project-overline {
      margin-bottom: 0rem;
      color: $secondary;
    }
    .project-title {
      font-size: clamp(2rem, 2cqi, 10rem);
      margin: 1rem 0px 1rem 0px;
      font-family: $font-title;
    }
    .project-description {
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      padding: 25px;
      opacity: 1;

      @media (max-width: 767.98px) {
        background-color: transparent;
        opacity: 1;
        box-shadow: none;
        padding: 0rem;
      }
    }
    .project-language-list {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 2;
      margin: 25px 0px 10px;
      gap: 0.5rem;
      padding: 0px;
      list-style: none;
      font-family: "Ubuntu Mono", monospace;
      li {
        padding: 5px 1rem;
        //background-color: black;
        text-align: center;
        font-size: $font-size-sm;
      }
    }
    .project-links {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      margin-top: 10px;
      margin-left: -10px;
    }
    .project-links a {
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      gap: 5rem;
      text-decoration: none;
      padding: 0px 10px;
      i {
        font-size: 1.5rem;
      }
    }
  }

  .project-image {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;

    @media (max-width: 767.98px) {
      grid-column: 1 / -1;
      height: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0px;
      z-index: 3;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      //background-color: rgba(255, 255, 255, 0.7);
      mix-blend-mode: screen;

      @media (max-width: 767.98px) {
        opacity: 0.15;
        -webkit-backdrop-filter: saturate(200%) blur(30px);
        backdrop-filter: saturate(200%) blur(30px);
      }
    }

    .img {
      max-width: 700px;
      display: block;
      mix-blend-mode: multiply;
      filter: grayscale(100%) contrast(1) brightness(70%);
      width: 100%;
      max-width: 100%;
      transform: translateZ(0);
      transition: opacity 0.25s linear;
      will-change: opacity;

      @media (max-width: 767.98px) {
        object-fit: cover;
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(50%);
        opacity: 0.1;
      }
    }
    &:hover .img {
      filter: none !important;
    }
    &:hover::before {
      background-color: transparent;
    }
  }
  &:nth-of-type(2n + 1) .project-image {
    grid-column: 1 / 8;

    @media (max-width: 767.98px) {
      grid-column: 1 / -1;
      height: 100%;
    }
  }
}

.image-wrapper {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
  }
}
