<section id="video" #section intersection>
    <div class="shim"></div>
    <div class="video__sticky">
        <div class="video__wrapper gap-3">
            <div class="video__frame" #video>
                <img class="main__video" src="hero.png" />
            </div>
            
            <div class="video__text__overlay">
                <h2 class="text__header__left" #textHeaderLeft>Khine &nbsp;</h2>
                <h2 class="text__header__right" #textHeaderRight>Myae</h2>
            </div>
            <div class="about__container">
                <div class="about__text text-center">
                    <h4>&#123;&nbsp;Backend Engineer&nbsp; &#125;</h4>
                </div>
            </div>
        </div>


        <!-- <div class="video__text__overlay">
            <div class="door left__door" #leftDoor>
              
                <p class="door__text__left">YOU CAN</p>
            </div>
            <div class="door left__door" #rightDoor>
             
                <p class="door__text__right"> CALL ME</p>
            </div>

        </div> -->

    </div>
</section>