<section id="video" #section intersection>
    <div class="shim"></div>
    <div class="video__sticky">
        <div class="video__wrapper">
            <div class="video__frame" #video>
                <img class="main__video w-50"  src="hero.png" />
            </div>
        </div>
        <div class="video__text__overlay">
            <h2 class="text__header__left" #textHeaderLeft>I'M &nbsp;</h2>
            <h2 class="text__header__right" #textHeaderRight>KHINE</h2>
        </div>
        <!-- <div class="video__text__overlay">
            <div class="door left__door" #leftDoor>
              
                <p class="door__text__left">YOU CAN</p>
            </div>
            <div class="door left__door" #rightDoor>
             
                <p class="door__text__right"> CALL ME</p>
            </div>

        </div> -->

    </div>
</section>