<div parallaxScroll>

    <div parallaxSelection>
        <div parallaxText>
            <app-grid></app-grid>
        </div>
        <img class="px-bg-image position-absolute" parallaxItem [setDefaultPosition]="true" src="tokyoskyline.png"
            alt="">
    </div>
    <div parallaxSelection id="story">
        <div parallaxText>
            <app-about-me-grid></app-about-me-grid>
        </div>
        <img class="px-bg-image position-absolute" parallaxItem [setDefaultPosition]="true" src="tokyoskyline.png"
            alt="">
    </div>
    <div parallaxSelection id="timeline">
        <div parallaxText>
            <app-experience-grid></app-experience-grid>
        </div>
        <img class="px-bg-image position-absolute" parallaxItem [setDefaultPosition]="true" src="tokyoskyline.png"
            alt="">
    </div>
    <div parallaxSelection id="contact">
        <div parallaxText>
            <app-contact-grid></app-contact-grid>
        </div>
        <img class="px-bg-image position-absolute" parallaxItem [setDefaultPosition]="true" src="tokyoskyline.png"
            alt="">
    </div>

</div>