 @import "bootstrap.scss";
// @import "./scss/drop.scss";
// @import "./scss/shrink-jump.scss";
// @import "./scss/parallax.scss";
// @import "./scss/card.scss";
// @import "./scss/animated-bar.scss";

body {
  overflow-y: hidden !important;
  background: no-repeat center $background-color;
  font-family: $font-primary;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0b0b0b00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a566f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b8398;
}

.blur {
 // background-color: hsla(0, 0%, 100%, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(30px);
  color: $secondary;
}
