<div class="experiences-wrapper" interception>
    <div class="experiences text-white">
        <div expCards>
            <div expCard class="blur bg-secondary overflow-hidden" style="--bs-bg-opacity: .03;">
                <div>
                    <div class="animated-container exp-card p-4 overflow-hidden">
                        <div class="position-relative order-md-1 order-2 ">
                            <header class="text-uppercase mb-4" aria-label="2024 to Present">2023 — 2024</header>
                            <ul class="project-language-list h-100">
                                <li class="text-secondary">Spring boot</li>
                                <li class="text-secondary">Microservices</li>
                            </ul>
                        </div>
                        <div class="order-md-2 order-1 ">
                            <h4>Backend Developer - Yomabank</h4>
                            <div class="seperator"></div>

                            <p class="fs-6">Develop and create APIs used to construct for the bank, across the whole
                                product. Work closely with cross-functional teams, including developers, designers, and
                                product managers, to implement and advocate for best practices.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div expCard class="blur bg-secondary overflow-hidden" style="--bs-bg-opacity: .03;">
                <div>
                    <div class="animated-container exp-card p-4 overflow-hidden">
                        <div class="position-relative order-md-1 order-2 ">
                            <header class="text-uppercase mb-4" aria-label="2024 to Present">2019 — 2021</header>
                            <ul class="project-language-list h-100">
                                <li class="text-secondary">Spring</li>
                                <li class="text-secondary">Angular</li>
                                <li class="text-secondary">.Net</li>
                            </ul>
                        </div>
                        <div class=" order-md-2 order-1">
                            <h4>Developer - MIT</h4>
                            <div class="seperator"></div>
                            <p class="fs-6">Developed software solutions diverse array of projects such as Retail, Delivery, Survey
                                and point-of-sale applications. Collaborated with other developers to integrate systems
                                for the clients.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>