<section id="contact" intersection>
    <div class="contact__container" #container>
        <div class="contact-links">
            <a href="mailto:hello@khinemyaezin.com?subject=Hi%20there!" target="_blank" class="link-6" role="button" tabindex="0">
                <i class="bi bi-envelope icon"></i>
                EMAIL
            </a>
            <a href="https://www.linkedin.com/in/khinemyaezin/" target="_blank" class="link-6" role="button" tabindex="0">
                <i class="bi bi-linkedin icon"></i>
                LINKEDIN
            </a>
            <a href="https://www.instagram.com/effenkhine/" target="_blank" class="link-6" role="button" tabindex="0">
                <i class="bi bi-instagram icon"></i>
                INSTAGRAM
            </a>
        </div>
        <footer class="position-absolute bottom-0 w-100">
            <div class="flex flex-row justify-center gap-5">
                <p class="text-center">©{{today | date:'yyyy'}} khinemyaezin</p>
            </div>
        </footer>
    </div>
</section>