<section id="contact" intersection>
    <div class="contact__container" #container>
        <div class="contact-links">
            <a href="mailto:hello@khinemyaezin.com?subject=Hi%20there!" target="_blank" class="link-6 magnetic-link" role="button" tabindex="0"
               #emailLink
               (mousemove)="onMagneticMove($event, emailLink)"
               (mouseleave)="onMagneticLeave(emailLink)">
                <i class="bi bi-envelope icon"></i>
                EMAIL
            </a>
            <a href="https://www.linkedin.com/in/khinemyaezin/" target="_blank" class="link-6 magnetic-link" role="button" tabindex="0"
               #linkedinLink
               (mousemove)="onMagneticMove($event, linkedinLink)"
               (mouseleave)="onMagneticLeave(linkedinLink)">
                <i class="bi bi-linkedin icon"></i>
                LINKEDIN
            </a>
            <a href="https://github.com/khinemyaezin" target="_blank" class="link-6 magnetic-link" role="button" tabindex="0"
               #githubLink
               (mousemove)="onMagneticMove($event, githubLink)"
               (mouseleave)="onMagneticLeave(githubLink)">
                <i class="bi bi-github icon"></i>
                GITHUB
            </a>
        </div>
        <footer class="position-absolute bottom-0 w-100">
            <div class="flex flex-column justify-center gap-3 align-items-center">
                <a href="https://khinemyaezin.com/resume" target="_blank" class="resume-link text-decoration-none" aria-label="Download Resume">
                    <i class="bi bi-file-earmark-arrow-down"></i> Resume
                </a>
                <p class="text-center mb-0">©{{today | date:'yyyy'}} khinemyaezin</p>
            </div>
        </footer>
    </div>
</section>